.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 115px;
}

.relative {
  position: relative;
}

.gallery {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
  padding: 90px 0;
  margin: 0 auto;
}

.gallery__container {
  display: flex;
  justify-content: center;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: margin;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__column:not(:last-of-type) {
  padding-right: 5px;
}

.gallery__pic {
  width: 140px;
  height: auto;
  transition-property: width;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__pic:not(:last-of-type) {
  margin-bottom: 5px;
}

.column__one {
  margin: 140px 0 150px;
}

.column__two {
  margin: 85px 0 60px;
}

.column__four {
  margin: 100px 0 45px;
}

.column__five {
  margin: 60px 0 85px;
}

.column__six {
  margin: 150px 0 140px;
}

.gallery__pic:hover {
  width: 280px;
  height: auto;
}

.gallery__column:hover {
  margin: 0;
}

.gallery__pic--active {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  transition-property: width;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__main {
  min-width: 140px;
  max-width: 280px;
  height: auto;
  padding-bottom: 5px;
}

.gallery__collage {
  display: flex;
  padding: 0 22px 0 23px;
}

.column__three {
  flex-direction: column-reverse;
}

.gallery__pic:hover + .gallery__pic--active {
  width: 50%;
}
