.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.relative {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.gallery {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0;
  margin: 0 auto;
}

.gallery__container {
  display: flex;
  justify-content: center;
}

.gallery__collage {
  display: flex;
  padding: 0 2px;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: margin;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__column:not(:last-of-type) {
  padding-right: 2px;
}

.gallery__column:hover {
  margin: 0;
}

.column {
  &__one {
    margin: 38px 0 42px;
  }

  &__two {
    margin: 23px 0 15px;
  }

  &_four {
    margin: 26px 0 12px;
  }

  &__five {
    margin: 15px 0 23px;
  }

  &__six {
    margin: 42px 0 38px;
  }
}

.column__three {
  flex-direction: column-reverse;
}

.gallery__pic {
  width: 38px;
  height: auto;

  &--active {
    width: 100%;
    height: auto;
    padding-bottom: 2px;
  }

  &:not(:last-of-type) {
    margin-bottom: 2px;
  }
}

@media (min-width: 768px) {
  .column {
    &__one {
      margin: 53px 0 42px;
    }

    &__two {
      margin: 23px 0 15px;
    }

    &_four {
      margin: 26px 0 12px;
    }

    &__five {
      margin: 15px 0 23px;
    }

    &__six {
      margin: 42px 0 38px;
    }
  }

  .gallery__pic {
    width: 85px;
  }
}

@media (min-width: 1280px) {
  .gallery__collage {
    padding: 0 22px 0 23px;
  }

  .column {
    &__one {
      margin: 140px 0 150px;
    }

    &__two {
      margin: 85px 0 60px;
    }

    &_four {
      margin: 100px 0 45px;
    }

    &__five {
      margin: 60px 0 85px;
    }

    &__six {
      margin: 150px 0 140px;
    }
  }

  .gallery__pic {
    width: 140px;
    transition-property: width;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    &:hover {
      width: 280px;
      height: auto;
    }

    &--active {
      padding-bottom: 5px;
      transition-property: width;
      transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover + &--active {
      width: 50%;
    }
  }
}
